 .form-control{
    width: 450px;
  }
  /* .mb-3{ */
    /* display: flex; */
    /* padding: 10px; */
    
  /* } */
  #btn2{
    margin-left: 210px;
    color: white;
    border-color: aliceblue;
  }
  #btn2:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: black;
  }
  .form-label{
    padding: 10px;
    height: 10px;
  }
  .App2{
    /* border: 1px solid black; */
    width: 500px;
    box-shadow: 4px 4px 8px rgba(1,1,1,1);
    border-radius: 10px;
  }
  .dd{
    width: 300px;
    background-color: white;
    height: 40px;
  }
  .nav-link{
    color: black;
  }
  .App4{
    display: flex;
  }
  .nav{
    background-color: rgb(212, 194, 105);
  }
 #imagrieuhf{
	object-fit: cover; 
	object-position: left;
  padding: 100px;
  /* border: 1px solid ; */
  /* margin-left: 10px; */
 }
 .bg-image-vertical {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
	}
	
	@media (min-width: 1025px) {
	.h-custom-2 {
	height: 100%;
	}
	}
#hjsd{
	color: #709085;
}
#ionsjq{
	letter-spacing: 1px;
}
#alijdoi{
	width: 23rem;
	/* padding: 500px; */
  margin-left: 150px;
}
/* #vh-10{ */
	/* padding: 150px; */
/* } */
/* .form{ */
  /* padding: 600px; */
  /* margin-top: 120px; */
  /* margin-left: 706px; */
/* } */
.form {
  display: flex;        
  justify-content: center;  
  align-items: center;      
  min-height: 100vh;
  flex-direction: column; 
  /* background-image: url('./img/bac.png');  */
  /* background-size: cover;  */
  /* background-position: center;  */
  color: white;
}
#vh-100{
  background-color: #eee;
  /* margin-bottom: 20px; */
  /* margin-top: 0; */
}
.text-black{
  border-radius: 25px;
}
.container-fluid{
  margin-left: 90px;
}
.img-fluid{
  margin-left: 100px;
}
#home{
  background-image: url('https://images.pexels.com/photos/8347499/pexels-photo-8347499.jpeg?');
  min-height: 100%;
  /* background-position: center; */
  background-size: cover;     
  /* background-repeat: ; */
  /* background-attachment: fixed; */

  padding: 390px;
  /* width: 500px; */
  font-size: 100px;
}
#date, #welcome{
  margin-left: 700px;

}
#date{
  font-size: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bolder;
}
#welcome{
  font-size: 60px;
  color: #fda4af;
  font-family:sans-serif;
  font-weight: bolder;

}
table {
  width: 100%;
  /* border-collapse: collapse; */
  border: none;
}

#color {
  background-color: rgb(33, 74, 223);
  color: white;
}

td, tr {
  /* border: 1px solid #ddd; */
  text-align: left;
  padding: 8px;
}

.day {
  font-weight: bold;
  width: 100px;
  
}

.lunch {
  text-align: center;
  vertical-align: middle;
}